/.config/aseprite/
/.config/discord/
/.config/tuxedo-control-center/
/.config/pulse/
/.config/pipewire/
/.config/autostart/
/.config/dconf/
/.config/htop/
/.config/glib-2.0/
/.config/tmux/plugins/
/.config/
/.local/
/.dotfiles/

/.keychain/
/.steam/
/Downloads/
/GitLair/
/Images/
/.cargo/
/digital-journal/
/Desktop/
/.npm/
/.Main/
/.cache/
/.ssh/
/.w3m/
/Games/
/.java/
/.tcc/
/.gentoo/
/.pki/
/.mozilla/
/.dbus/
/.steam*
/.wget-hsts
/.nvidia-settigns-rc
/.wpa_cli_history
/.bash_logout

